.App {
  text-align: center;
}

.body-wrapper {
  max-width: 1440px;
  margin: 30px auto;
}

.header-wrapper {
  padding: 20px;
  border-bottom: 1px solid #000;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
}

.icon-wrapper {
  float: left;
  height: 30px;
  width: 30px;
}

.icon {
  height: 100%;
  width: 100%;
}

.field {
  padding: 10px;
  display: flex;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-wrapper {
  max-width: 640px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.button {
  padding: 20px;
}

.error-message {
  color: red;
}
